<div class="container-home">
  <div class="top-home">
    <div class="avatar-home">
      <%= image_tag 'chick' %>
    </div>
    <div class="infos-home">
      <div>
        <h1><%= current_user.pseudo %></h1>
      </div>
      <div class="milts-home">
        <h3><%= current_user.milts_count %></h3>
        <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
      </div>
    </div>
  </div>

  <div class="conversations-home">
    <% @conversations.each do |conversation| %>
      <%= link_to conversation_path(conversation), class:"conversation-home" do %>
        <div class="avatar-correspondant-home">
          <div class="avatar-home-mini">
            <%= image_tag 'rabbit' %>
          </div>
        </div>
        <div class="pseudo-correspondant-home">
          <h2><%= conversation.users.where.not(id: current_user.id).first.pseudo %></h2>
        </div>
        <div class="notification-home">
          <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose a friend : </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@participation) do |f| %>
          <%= f.association :user, collection: User.where.not(id: current_user.id), label_method: :pseudo, value_method: :id, include_blank: false %>
          <div class="modal-footer">
            <%= f.submit class: "modal-btn", value: "Validate", class: "btn btn-modal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
