<div class="container">
  <div class="container-home">
    <div class="top-home">
      <div class="avatar-big col-4">
        <%= image_tag 'chick' %>
      </div>
    </div>
    <div class="body-insight" data-controller="milts-savings" >

      <div class="div-milts">
        <i><p>You have :</p></i>
        <div class="your-milts bg-corail">
          <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
          <h3 class="ivory">
            <%= current_user.milts_count %>
          </h3>
        </div>
      </div>

      <div class="div-milts" data-milts-savings-target="nextMilts">
        <%= render "milts_requests/next_milts", current_user: current_user %>
      </div>

      <div class="w-100" data-milts-savings-target="exchangedMilts" data-milts-savings-conversations-id-value="<%= current_user.conversations.pluck(:id) %>" data-milts-savings-user-id-value="<%= current_user.id %>">
          <%= render "milts/exchange_milts", current_user: current_user %>
      </div>

    </div>
  </div>

  <%= render 'shared/flashes' %>
</div>

<div class="footer">
  <%# <div class="footer-btn btn-light-blue"> %>
    <%#= render inline: Rails.root.join("app/assets/images/xmark.svg").read %>
  <%# </div> %>
  <div class="footer-row row d-flex flex-row">
    <%= link_to home_path, class:"footer-icon col-4 inactive-corail" do %>
      <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
    <% end %>
    <div class="footer-icon footer-icon-min col-4">
    </div>
    <%= link_to insight_path, class:"footer-icon footer-icon-min col-2 active-corail" do %>
      <%= render inline: Rails.root.join("app/assets/images/chart.svg").read %>
    <% end %>
    <%= link_to settings_path, class:"footer-icon footer-icon-min col-2" do %>
      <%= render inline: Rails.root.join("app/assets/images/gear.svg").read %>
    <% end %>
  </div>
</div>
