<div class="div-milts">
  <div class="milts-exchange">
    <div class="received col-5" data-milts-savings-target="receivedMilts">
      <i><p>You received :</p></i>
      <div class="your-milts-mini bg-ivory corail">
        <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
        <h5 class="corail">
          <%= current_user.milts_received_count %>
        </h5>
      </div>
      <div class="btn-add-cagnotte <%= current_user.milts_received_count.positive? ? "bg-blue" : "bg-blue-light" %>"
      <%= "data-action=click->milts-savings#addReceivedMilts" if current_user.milts_received_count.positive? %>>
        <%= render inline: Rails.root.join("app/assets/images/xmark.svg").read %>
      </div>
    </div>
    <div class="sent col-5" data-milts-savings-target="sentMilts">
      <i><p>You send :</p></i>
      <div class="your-milts-mini bg-ivory corail">
        <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
        <h5 class="corail">
          <%= current_user.milts_sent_count %>
        </h5>
      </div>
      <div class="btn-add-cagnotte <%= current_user.milts_sent_count.positive? ? "bg-blue" : "bg-blue-light" %>" <%= "data-action=click->milts-savings#addSentMilts" if current_user.milts_sent_count.positive? %>>
        <%= render inline: Rails.root.join("app/assets/images/xmark.svg").read %>
      </div>
    </div>
  </div>
</div>

<div class="div-milts">
  <i><p>Cagnotte :</p></i>
  <div class="your-milts-big bg-blue">
    <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
    <h3 class="ivory">
      <%= current_user.savings_count %>
    </h3>
  </div>
</div>
