<% if current_user.milts_count.positive? %>
  <%= simple_form_for [conversation, milt],
      html: {class: "form-create-milt"}, remote: true do |f|
    %>
    <%= f.input :receiver_id, as: :hidden, input_html: { value: conversation.users.where.not(id: current_user.id).first.id } %>
    <%= f.button :button do %>
      <div class="footer-btn btn-corail">
        <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="footer-btn btn-corail-inactive">
    <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
  </div>
<% end %>

<div class="footer-row row d-flex flex-row">
  <%= link_to home_path, class:"footer-icon col-4 inactive-corail" do %>
    <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
  <% end %>
  <div class="footer-icon footer-icon-min col-4">
  </div>
  <%= link_to root_path, class:"footer-icon footer-icon-min col-2" do %>
    <%= render inline: Rails.root.join("app/assets/images/chart.svg").read %>
  <% end %>
  <%= link_to root_path, class:"footer-icon footer-icon-min col-2" do %>
    <%= render inline: Rails.root.join("app/assets/images/gear.svg").read %>
  <% end %>
</div>
