<div id="milt-<%= milt.id %>" class= "milt<%= " milt-current-user" if milt.sender == current_user %><%= " first" if index == 0 %>">
  <%# if milt.sender == current_user %>
  <div class="bulle-milt">
    <%= render inline: Rails.root.join("app/assets/images/bulle-corail.svg").read %>
    <div class="milt-in-bulle">
      <%= render inline: Rails.root.join("app/assets/images/milt.svg").read %>
    </div>
  </div>
  <i>
    <% unless milt.created_at.today? %>
      <%= milt.created_at.strftime("%e %b ") %>
    <% end %>
    <%= milt.created_at.strftime("%l:%M %p") %>
  </i>
</div>
